
  body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    /* Full height */
    height: 50%; 
    width:100%;
    /* Center and scale the image nicely */
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo
  {
    position: absolute;
    top: 10px;
    left: 80px;
    width:15%;
  }
  .loginlogo
  {
    position: absolute;
    top: 10px;
    right: 80px;
    width:10%;
  }
  .centered {
    background-image: url("src/assets/img/bg3.jpg");
    margin-top: 10%;
    height:70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
 .menu{
  position: absolute;
  top: 10%;
  left: 50%; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 70%; /* Full width */
  /* Some padding */
  transform: translate(-50%, -50%);
  height:10%;
  font-size:100px;
  font-style: initial;
 }


.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .container {
    min-height: 100%;
    width: 90%;
    margin: auto;
    padding:10px;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  
  .search-form {
    width: 90%;
  }
  .example-card {
    max-width: 400px;
  }
  

  .cardlist
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .example-icon-image
  {  
    width:300px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .headlines
  {
    text-align:center;
    font-size: 35px;
    color: #ff5a60;
    text-shadow: initial;
    line-height: 2.5em;
    font-family: Raleway;
    font-weight: 700;
  }
  .container1
  {
    min-height: 70%;
    width: 100%;

  }
  .storiescontainer
  {
    background-color: mistyrose;
    max-height: 100%;
    margin-top:5%;
  }
  .addtocartlogo
  {
    position: absolute;
    top: 10px;
    right: 80px;
    width:9%;
  }

  
